*.DS_Store
.git
.idea
.vscode
.nyc_output
build/Release
coverage
docs
node_modules
scripts
tests
.dockerignore
.editorconfig
*.gitkeep
*.env
*.log*
.gitignore
.gitlab-ci.yml
.npmrc
.nvmrc
.yarn-integrity
Dockerfile
README.md
